<section class="footer">
    <mat-list>
        <mat-list-item role="listitem">
            <mat-icon mat-list-icon>mail</mat-icon>danielpaluch37@gmail.com
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon mat-list-icon>phone</mat-icon>+48 505816067 
        </mat-list-item>
        
        <mat-list-item role="listitem">
            <mat-icon mat-list-icon>assignment_ind</mat-icon>
            <form method="get" action="./../../assets/CV_DanielPaluch.pdf" target="_blank">
                <button mat-flat-button color="primary" class="btn">Download CV</button>
            </form>
        </mat-list-item>
    </mat-list>
</section>