<div class="main">
    <section class="first">
        <mat-card>
            <p>
                Feel free to contact me below. I'm checking e-mails everyday, so you shouldn't be worried that I'll miss your mail.
                <br>
                Also check out my CV by clicking Download CV button. Remember to not miss my links!
            </p>
        </mat-card>
        
    </section>
        <form class="second" method="get" action="./../../assets/CV_DanielPaluch.pdf" target="_blank">
            <button mat-flat-button color="primary">Download CV!</button>
        </form>
    <section class="third">
        <form action="mailto:danielpaluch.job@gmail.com" method="get" enctype="text/plain" class="example-form">
            <mat-form-field class="topic" appearance="fill">
              <mat-label>Topic</mat-label>
              <input matInput placeholder="Ex. Invitation to a meeting" value="">
            </mat-form-field>
          
            <mat-form-field class="content" appearance="fill">
              <mat-label>Message</mat-label>
              <textarea matInput placeholder="Ex. Hello..."></textarea>
            </mat-form-field>
            <input class="sub" type="submit" mat-flat-button color="primary" value="Send It!">
          </form>

    </section>
    <section class="fourth">
        <mat-card>
        <mat-list role="list">
            <div mat-subheader><mat-icon mat-list-icon>share</mat-icon>Links</div>
            <mat-list-item role="listitem"><mat-icon mat-list-icon>link</mat-icon><a href="https://github.com/danielpaluch">GitHub</a></mat-list-item>
            <mat-list-item role="listitem"><mat-icon mat-list-icon>link</mat-icon><a href="https://twitter.com/wh4su">Twitter</a></mat-list-item>
            <mat-list-item role="listitem"><mat-icon mat-list-icon>link</mat-icon><a href="https://www.linkedin.com/in/daniel-paluch-3ab845235/">Linkedin</a></mat-list-item>
          </mat-list>
        </mat-card>
    </section>
</div>
